<?xml version="1.0" encoding="utf-8"?>
<!--DEV Commercial Config-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">      
      <section name="FareCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">      
      <section name="FareCollector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=1B44E1D426115821" />
  </configSections>
  <log4net debug="true">
    <root>
      <level value="ALL" />
    </root>

    <logger name="ApplicationLogger">
      <level value="DEBUG" />
      <appender-ref ref="ApplicationLogger-appender" />
      <appender-ref ref="appender-Console" />
    </logger>

    <logger name="ActiviyLogger">
      <level value="DEBUG" />
      <appender-ref ref="ActiviyLogger-appender" />
      <appender-ref ref="appender-Console" />
    </logger>

    <logger name="RequestLogger">
      <level value="DEBUG" />
      <appender-ref ref="RequestLogger-appender" />
      <appender-ref ref="appender-Console" />
    </logger>

    <logger name="FailedMessageLogger">
      <level value="DEBUG" />
      <appender-ref ref="FailedMessageLogger-appender" />
      <appender-ref ref="appender-Console" />
    </logger>

    <logger name="FareInterfaceSuccessLogger">
      <level value="DEBUG" />
      <appender-ref ref="FareInterfaceSuccessLogger-appender" />
      <appender-ref ref="appender-Console" />
    </logger>

    <appender name="appender-Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-ddTHH:mm:ss.fff}, %-5level, %message%newline" />
      </layout>
    </appender>

    <appender name="ApplicationLogger-appender" type="log4net.Appender.RollingFileAppender">
      <file value="..\_LogFiles\FareCollector.ApplicationLog.txt" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss:fff}, LogLevel=&quot;%-5level&quot;, %message%newline" />
      </layout>
    </appender>

    <appender name="RequestLogger-appender" type="log4net.Appender.RollingFileAppender">
      <file value="..\_LogFiles\FareCollector.SabreFareRequestLog.txt" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-ddTHH:mm:ss.fff} %message%newline" />
      </layout>
    </appender>

    <appender name="ActiviyLogger-appender" type="log4net.Appender.RollingFileAppender">
      <file value="..\_LogFiles\FareCollector.ActivityLog.txt" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss:fff}, LogLevel=&quot;%-5level&quot;, %message%newline" />
      </layout>
    </appender>

    <appender name="FailedMessageLogger-appender" type="log4net.Appender.RollingFileAppender">
      <file value="..\_LogFiles\FareCollector.FailedMessageLog.txt" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss:fff}, LogLevel=&quot;%-5level&quot;, %message%newline" />
      </layout>
    </appender>

    <appender name="FareInterfaceSuccessLogger-appender" type="log4net.Appender.RollingFileAppender">
      <file value="..\_LogFiles\FareCollector.FareInterfaceSuccessLog.txt" />
      <datePattern value="'.'yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss:fff}, LogLevel=&quot;%-5level&quot;, %message%newline" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="OracleConnection" connectionString="Validate Connection=true;Connection Lifetime=120;Connection Timeout=60;user id=ETRAXUSER;password=etraxuser_2012;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=SYMDVDB.int.carlsonwagonlit.com)(PORT=9653))(CONNECT_DATA=(SERVICE_NAME=SYMDVDB)))" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StructureFareRulesSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="StructureFareRulesSoapBinding1"/>
        <binding name="SessionCreateSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="SessionCreateSoapBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding" bindingConfiguration="StructureFareRulesSoapBinding" contract="Sabre.StructureFareRulesPortType" name="StructureFareRulesPortType"/>
      <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding" bindingConfiguration="SessionCreateSoapBinding" contract="SabreSession.SessionCreatePortType" name="SessionCreatePortType"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <FareCollector.Properties.Settings>
      <setting name="DocBankSupportEmail" serializeAs="String">
        <value>DocumentBankInternalSupport@CarlsonWagonlit.com</value>
      </setting>
      <setting name="InboundQueueName" serializeAs="String">
        <value>\private$\COMfarecollectorinbound</value>
      </setting>
      <setting name="MaxThreads" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ListenerCheckInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxTimeoutErrors" serializeAs="String">
        <value>5</value>
      </setting>
      <!--Sleep Duration in minutes-->
      <setting name="TimeoutSleepDuration" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="OutboundQueueName" serializeAs="String">
        <value>\private$\COMfaremanagerinbound</value>
      </setting>
      <setting name="HP_OutboundQueueName" serializeAs="String">
        <value>\private$\hp_comfaremanagerinbound</value>
      </setting>
      <setting name="HP_InboundQueueName" serializeAs="String">
        <value>\private$\hp_comfarecollectorinbound</value>
      </setting>
      <setting name="MaxSabreSessions" serializeAs="String">
        <value>2</value>
      </setting>
    </FareCollector.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="Enviroment" value="DEVELOPMENT" />
    <add key="ClientBase" value="COMMERCIAL" />
    <!--MDF Connection Credentials-->
    <add key="SabreURL" value="https://itest2distribution.cwtwebservices.com/SabreAirTicketService.serviceagent/SabreAirTicketServicePortTypeEndpoint"/>
    <add key="SabreID" value="satstest"/>
    <add key="SabreBadWord" value="password"/>
    <!--Buisness Logic Main Controls-->
    <add key="BuisnessLogicMasterSwitch" value="On"/>
    <add key="PerSegmentRequestLogic" value="On"/>
    <!--World Fare At Peak Use Retry Settings-->
    <add key="MaxPeakUseRetryAmount" value="4"/>
    <add key="PeakUseWaitTime" value="8"/>
    <add key="TimeoutSetting" value="120" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DocBankSupportEmail" value="DocumentBankInternalSupport@CarlsonWagonlit.com" />
    <add key="SMTP_Mail_Server" value="mta-hub.int.carlsonwagonlit.com" />
    <!-- Retry Error names-->
    <add key="FORMAT_FARE_BASIS_ERROR" value="FORMAT FARE BASIS NOT AVAILABLE" />
    <add key="NO_FARE_FOR_CLASS_ERROR" value="NO FARE FOR CLASS USED" />
    <add key="BEYOND_HISTORICAL_DATE_ERROR" value="BEYOND MAXIMUM HISTORICAL DATE" />
    <add key="NO_VALID_TICKETING_ERROR" value="NO VALID TICKETING AGREEMENTS FOUND" />
    <add key="TICKET_DATE_ERROR" value="TKT DATE MUST BE EQUAL OR EARLIER THAN TVL DATE" />
    <add key="PARSE_FAILURE_ERROR" value="PARSE FAILURE - INVALID REQUEST" />
    <add key="FLIGHT_CONTINUITY_ERROR" value="$FLT$  CHK DATE/TIME CONTINUITY OF FLTS" />
    <add key="MDF_OUTAGE_ERROR" value="Sabre service communication error" />
    <add key="UNABLE_TO_PRICE_ERROR" value="UNABLE TO PRICE AS REQUESTED" />
    <!--Immediate Retry Errors-->
    <add key="IMMEDIATE_RETRY_LIST" value="WORLD FARE AT PEAK USE,Database error,AGENT PCC NON EXISTENT,UNABLE TO GET USER ATTRIBUTES,UNABLE TO GET USER GROUP DATA,NO REPLY FROM SERVER" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
